<div class="row">
  <div class="entries-actions card d-flex justify-content-end">
    <%= link_to "+ Add New Quiz", new_entry_path,
         class: "btn btn-outline-primary mr-2",
          style: "margin-right: 1rem;",
         data: { turbo_frame: "main_dashboard" } %>

    
  </div>


  <div id="dashboard" class="card shadow-sm">
    <div class="entries-card">
      <div class="entries-card__sidebar">
        <nav id="entries-list" class="nav flex-column">
          <% if @entries.any? %>
            <%= render(@entries) %>
          <% end %>
        </nav>
      </div>
      <div class="entries-card__main">
        <%= turbo_frame_tag 'main_dashboard' do %>
          <% if @entries.any? %>
            <%= render partial: 'entries/main', locals: { entry: @main_entry } %>
          <% else %>
          
            <%= content_tag :p, "No Quizzes Created.",
                 class: "h-100 d-flex align-items-center justify-content-center" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
